---
title: Contact
layout: default
---

<div class="row">
    <div class="col-md-12">
        <h1>Contact</h1>
        <hr>
    </div>
    <div class="col-md-6">
        <dl class="row">
            {% for item in site.data.contact %}
            <dt class="col-sm-3">{{ item.type }}</dt>
            <dd class="col-sm-9">
                {% if item.link %}
                    <a href="{{ item.link }}">{{item.value}}</a>
                {% else %}
                    {{ item.value | newline_to_br }}
                {% endif %}            
            </dd>
            {% endfor %}
        </dl>
    </div>
    <!--div class="col-md-6">
        {% include map.html %}  
    </div-->
</div>