---
layout: news
title: Latest News
---
{% for post in paginator.posts %}
<div>
  {% if post.image %}
  <img src="{{ post.image }}" class="img-fluid rounded">
  {% endif %}
  <h1>{{ post.title }}</h1>
  {{ post.content }}
  <p style="text-align: right;">{{ post.date | date_to_string }} - Post by {{ post.author }}</p>
  <hr>
</div>
{% endfor %}

<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">

    {% if paginator.previous_page %}
      <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% endif %}
    
    {% if paginator.page == 1 %}
      <!-- Current page -->
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
      </li>
    {% else %}
      <li class="page-item">
        <a class="page-link" href="/news/">1</a>
      </li>
    {% endif %}

    {% for num in (2..paginator.total_pages) %}
      {% if paginator.page == num %}
        <!-- Current page -->
        <li class="page-item active">
          <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="/news/page{{ num }}/">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}