<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.jpg" width="30" height="30" class="d-inline-block align-top">
        Runcorn Sports
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
                {% if item.subfolderitems[0]%}
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.name }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            {% for entry in item.subfolderitems %}
                                <a class="dropdown-item" href="{{ entry.link }}">{{ entry.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <!-- Standard button -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.link }}">
                            {{ item.name }}
                            {% if page.url == item.link %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>