---
layout: team
title: Team A
team: FirstTeam
---

<style>
.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.player-card {
    width:110px;
    background-color: #ad9c66;
}

.player-card.management {
    background-color: #343a40;
    color: white;
}

.modal-dialog > .modal-content > .modal-header,
.modal-dialog > .modal-content > .modal-footer {
    background-color: #ad9c66
}

.modal-dialog.management > .modal-content > .modal-header,
.modal-dialog.management > .modal-content > .modal-footer {
    background-color: #343a40;
    color: white;
}

</style>

{% assign squad = site.data.teams[page.team].members %}

<!-- Modal for each player -->
{% for player in squad %}
<div class="modal" id="modal-player{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered {{ player.position | slugify }}" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{ player.name }} - {{ player.position }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img" src="{{ player.avatar }}">
                        </div>
                        {% if player.sponsor %}
                        <span>Proudly sponsored by:</span>
                        {% include sponsor.html sponsor=player.sponsor %}
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <P>{{ player.description }}</P>
                        <p><b>Previous clubs:</b>
                        {{ player.previousClubs | join: ", " }}
                        </p>
                        <dl class="row">
                            {% for stat in site.data.teams.StatReference %}
                                <dt class="col-sm-4">{{ stat.title }}</dt>
                                <dd class="col-sm-8">{{ player.stats[stat.reference] }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
{% endfor %}

{% assign reached_management = false %}

<!-- Card for each player -->
<h1>Meet the team</h1>
<p> Click on each team member to view their profile: </p>

<h2>Squad</h2>
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        {% for player in squad %}

        {% assign position = player.position | slugify %}

        {% if position == "management" and reached_management == false %}
            {% assign reached_management = true %}
            </div></div>
            <h2>Management</h2>
            <div class="container-fluid mt-4">
                <div class="row justify-content-center">
        {% endif %}

        <div class="col-auto mb-3">            
            <div class="card player-card {{ position }}" data-toggle="modal" data-target="#modal-player{{ forloop.index }}">
                <div class="card-body justify-content-center">
                    <img class="avatar" src="{{ player.avatar }}">
                    <span>{{ player.name }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
