---
layout: team
title: Team A
team: FirstTeam
---
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% assign team_members = site.data.teams[page.team].roles.squad.members %}

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Games</th>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">Wins</th>
                    <td>7</td>
                </tr>
                <tr>
                    <th scope="row">Losses</th>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">Draws</th>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <canvas id="team_stats"></canvas>
        <script type="text/javascript">
            var ctx = document.getElementById('team_stats').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        backgroundColor: ['#aadd77','#ff6961','grey'],
                        data: [5,4,1]
                    }],
                    labels: ['wins', 'losses', 'draws']
                }
            });
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Appearances</h3>
        {% assign players_by_appearance = team_members | sort: "stats.played" | reverse %}
        <table class="table">
            <tbody>
                {% for i in (0..2) %}
                    {% assign player = players_by_appearance[i] %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.stats.played }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Goals</h3>
        {% assign players_by_goals = team_members | sort: "stats.goals" | reverse %}
        <table class="table">
            <tbody>
                {% for i in (0..2) %}
                    {% assign player = players_by_goals[i] %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.stats.goals }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Assists</h3>
        {% assign players_by_assists = team_members | sort: "stats.assists" | reverse %}
        <table class="table">
            <tbody>
                {% for i in (0..2) %}
                    {% assign player = players_by_assists[i] %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.stats.assists }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Table</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Player</th>
                        {% for stat in site.data.teams.StatReference %}
                            <th scope="col">{{ stat.title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for player in team_members %}
                        <tr>
                            <th scope="row">{{ player.name }}</th>
                            {% for stat in site.data.teams.StatReference %}
                                <td>{{ player.stats[stat.reference] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
