---
layout: default
title: Runcorn Sports Football Club
---
<!-- Big team photo, will be scolling at some point -->
<div class="row">
    <div class="col-md-12">
        <img src="/assets/images/team.jpg" class="img-fluid rounded" alt="team photo"/>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-4"><h1>{{ page.title }}</h1><hr></div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="/assets/images/logo_no_text.png" class="img-fluid"/>
    </div>
    <div class="col-md-8">
        <!--h1>{{ page.title }}</h1>
        <hr-->
        {{ content }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
        <h3>Proudly sponsored by:</h3>
        <br>
        <!-- TODO: Change column width for screen size (check bootstrap) -->
        <div class="card-columns" style="column-count: 4;">
        {% for item in site.data.sponsors %}
            <div class="card">
                <img class="card-img" src="/assets/images/sponsors/{{ item.image }}" class="img-fluid" alt="{{ item.name }}">
            </div>
        {% endfor %}
    </div>
</div>
